@import "../../index.scss";

$typogrphy-types: (
  H1: $H1Decktop,
  H2: $H2Decktop,
  H3: $H3Decktop,
  S1-1: $S1-1Decktop,
  S1-2: $S1-2Decktop,
  S1-3: $S1-3Decktop,
  S1-4: $S1-4Decktop,
  body: $BodyDecktop,
);

.typogrphy {
  color: #313037;

  @each $type, $font in $typogrphy-types {
    &__#{$type} {
      font: $font;
    }
  }
}

.link {
  &:hover {
    color: #2231aa;
  }
}
