@mixin dashSetings($posStatus) {
  width: 20px;
  height: 2px;
  position: $posStatus;
  background-color: #fff;
  pointer-events: none;
  transition: all 0.4s;
  border-radius: 2px;
}

@mixin pseudoDash($pos) {
  content: "";
  #{$pos}: 6px;
  @include dashSetings(absolute);
  transition-property: $pos, transform;
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}

@mixin pseudoDashActive($pos, $degs) {
  transform: rotate($degs);
  transition-delay: 0s, 0.2s;
  width: 100%;
  #{$pos}: 0;
}

.burger-btn {
  width: 84px;
  height: 84px;
  background: #2231aa;
  border-right: 1px solid #5360CD;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__dash {
    @include dashSetings(relative);
    &::before {
      @include pseudoDash(top);
    }
    &::after {
      @include pseudoDash(bottom);
    }
  }

  &.active .burger-btn__dash {
    background: transparent;
    &::before {
      @include pseudoDashActive(top, 45deg);
    }
    &::after {
      @include pseudoDashActive(bottom, -45deg);
    }
  }
}
