@import "../../index.scss";

.select {
  max-width: 438px;
  position: relative;
  .input__wrapper {
  padding: 0;
  }
  input {
    font: $S1-4Decktop;
  }
  svg {
    position: absolute;
    margin: auto;
    top: 31.5px;
    right: 0px;
    cursor: pointer;
    padding: 25px;
    box-sizing: content-box;
  }
  button {
    font: $S1-4Decktop;
  }
  &:hover {
    svg {
      path {
        stroke: #fff;
      }
    }
  }
  &__top {
    width: 100%;
    padding: 16px 20px;
    background-color: $graphite;
    color: $white;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    text-align: start;
  }
  &__choises {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    row-gap: 1px;
    border-radius: 10px;
    overflow: hidden;
  }
}
