@import "../../index.scss";
.page-template {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  box-sizing: border-box;
  padding: 40px 64px 64px;
  @mixin standart {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    background-color: #f3f3f3;
    transition: 0.3s;
  }
  &-light {
    @include standart();
    color: #313037;
  }
  &-dark {
    @include standart();
    color: #fff;
    background-color: #313037;
    & button div {
      color: #fff;
      background-color: transparent;
    }
    svg {
      path {
        fill: #fff;
        // stroke: #fff;
      }
    }
  }
}
